/* size small 18x12*/

#images.code-1PC3-18x12.position-0 #large-image li.room, #images.code-1PC3-18x12 #thumbnails li.position-0 {
    display: block;
    background-image: url(//a.icanvas.com/images/room-shots//contemporary/horiz-small-12a.jpg);
}


#images.code-1PC3-18x12.position-0 #large-image .room-canvas-position, #images.code-1PC3-18x12 #thumbnails .position-0 .room-canvas-position {
    top: -65%;
    left: -87%;
    width: 294%;
    height: 261%;
}

#images.code-1PC3-18x12.position-1 #large-image li.room, #images.code-1PC3-18x12 #thumbnails li.position-1 {
    display: block;
    background-image: url(//a.icanvas.com/images/room-shots//contemporary/horiz-small-3.jpg);
}

#images.code-1PC3-18x12.position-2 #large-image li.room, #images.code-1PC3-18x12 #thumbnails li.position-2 {
    display: block;
    background-image: url(//a.icanvas.com/images/room-shots/contemporary/horiz-small-6.jpg);
}

#images.code-1PC3-18x12.position-3 #large-image li.room, #images.code-1PC3-18x12 #thumbnails li.position-3 {
    display: block;
    background-image: url(//a.icanvas.com/images/room-shots/contemporary/gallery-wall-5a.jpg);
}

#images.code-1PC3-18x12.position-1 #large-image .room-canvas-position, #images.code-1PC3-18x12 #thumbnails .position-1 .room-canvas-position {
    top: -60.5%;
    left: -70%;
    width: 222%;
    height: 196%;
}

#images.code-1PC3-18x12.position-2 #large-image .room-canvas-position, #images.code-1PC3-18x12 #thumbnails .position-2 .room-canvas-position {
    top: -25.7%;
    left: -43.25%;
    width: 190.5%;
    height: 172%;
}

#images.code-1PC3-18x12.position-3 #large-image .room-canvas-position, #images.code-1PC3-18x12 #thumbnails .position-3 .room-canvas-position {
    top: -12%;
    left: 22.5%;
    width: 73.5%;
    height: 64%;
}

/* size medium 26x18*/

#images.code-1PC3-26x18.position-0 #large-image li.room, #images.code-1PC3-26x18 #thumbnails li.position-0 {
    display: block;
    background-image: url(//a.icanvas.com/images/room-shots//contemporary/horiz-med-3.jpg);
}

#images.code-1PC3-26x18.position-1 #large-image li.room, #images.code-1PC3-26x18 #thumbnails li.position-1 {
    display: block;
    background-image: url(//a.icanvas.com/images/room-shots/contemporary/horiz-med-4a.jpg);
}

#images.code-1PC3-26x18.position-2 #large-image li.room, #images.code-1PC3-26x18 #thumbnails li.position-2 {
    display: block;
    background-image: url(//a.icanvas.com/images/room-shots//contemporary/horiz-med-6a.jpg);
}

#images.code-1PC3-26x18.position-3 #large-image li.room, #images.code-1PC3-26x18 #thumbnails li.position-3 {
    display: block;
    background-image: url(//a.icanvas.com/images/room-shots/contemporary/horiz-small-12b.jpg);
}

#images.code-1PC3-26x18.position-0 #large-image .room-canvas-position, #images.code-1PC3-26x18 #thumbnails .position-0 .room-canvas-position {
    top: -13.5%;
    left: -1%;
    width: 106%;
    height: 92%;
}

#images.code-1PC3-26x18.position-1 #large-image .room-canvas-position, #images.code-1PC3-26x18 #thumbnails .position-1 .room-canvas-position {
    top: -26%;
    left: -15.25%;
    width: 106.5%;
    height: 92%;
}

#images.code-1PC3-26x18.position-2 #large-image .room-canvas-position, #images.code-1PC3-26x18 #thumbnails .position-2 .room-canvas-position {
    top: -29%;
    left: -4%;
    width: 106.5%;
    height: 94%;
}

#images.code-1PC3-26x18.position-3 #large-image .room-canvas-position, #images.code-1PC3-26x18 #thumbnails .position-3 .room-canvas-position {
    top: -26%;
    left: -26%;
    width: 125%;
    height: 107%;
}

/* size large 40x26 */

#images.code-1PC3-40x26.position-0 #large-image li.room, #images.code-1PC3-40x26 #thumbnails li.position-0 {
    display: block;
    background-image: url(//a.icanvas.com/images/room-shots//contemporary/horiz-med-3.jpg);
}

#images.code-1PC3-40x26.position-1 #large-image li.room, #images.code-1PC3-40x26 #thumbnails li.position-1 {
    display: block;
    background-image: url(//a.icanvas.com/images/room-shots//contemporary/horiz-med-4.jpg);
}

#images.code-1PC3-40x26.position-2 #large-image li.room, #images.code-1PC3-40x26 #thumbnails li.position-2 {
    display: block;
    background-image: url(//a.icanvas.com/images/room-shots//contemporary/horiz-med-5a.jpg);
}

#images.code-1PC3-40x26.position-3 #large-image li.room, #images.code-1PC3-40x26 #thumbnails li.position-3 {
    display: block;
    background-image: url(//a.icanvas.com/images/room-shots//contemporary/horiz-med-6.jpg);
}

#images.code-1PC3-40x26.position-0 #large-image .room-canvas-position, #images.code-1PC3-40x26 #thumbnails .position-0 .room-canvas-position {
    top: -12%;
    left: 7%;
    width: 91%;
    height: 79%;
}

#images.code-1PC3-40x26.position-1 #large-image .room-canvas-position, #images.code-1PC3-40x26 #thumbnails .position-1 .room-canvas-position {
    top: -5%;
    left: 15.5%;
    width: 93.375%;
    height: 84%;
}

#images.code-1PC3-40x26.position-2 #large-image .room-canvas-position, #images.code-1PC3-40x26 #thumbnails .position-2 .room-canvas-position {
    top: -16%;
    left: 1%;
    width: 96%;
    height: 83%;
}

#images.code-1PC3-40x26.position-3 #large-image .room-canvas-position, #images.code-1PC3-40x26 #thumbnails .position-3 .room-canvas-position {
    top: -4%;
    left: 5.5%;
    width: 91.75%;
    height: 81%;
}

/* size extra large 40x26 */
#images.size-40x32 .room .room-canvas-position .room-canvas {
    width: 44.4444%;
    height: 50.4444%;
    left: 27.7778%;
    top: 27.7778%;
}
/*custom brown-color */

.filter.icons #options-color li[data-value=brown] div.color {
    background-color: #bf7513;
}

#options-frame2 li.options-frame-br div:before {
    background-image: url(../images/frames/frame-demo.png);
}

#images.horizontal.frame-br li.pc-1:after {
    background-image: url(../images/horizontal-br-frame-demo.png);
}
